<!-- :url => {:action => "create", :controller => 'statistics'}, :remote => true -->
<style>
.form-horizontal .control-label
{
	width:90px;
	text-align:left;
}

.form-horizontal .controls
{

	margin-left:0px;
		
}
</style>
<h2> Getting Statistics </h2>
<%= simple_form_for( @statistic, :html=>{class: 'form-horizontal' })  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

 <%= f.input :content, :collection => ["Original","Smart","Unexpected","It's Ok", "Boring", "Pain Full"], :as => :radio_buttons, :checked =>"#{@statistic.content}",:item_wrapper_class => 'inline' %> 
 <%= f.input :editing, :collection => ["Seanless","Choppy"], :as => :radio_buttons, :checked =>"#{@statistic.content}",:item_wrapper_class => 'inline' %> 
	<%= f.input :shots, :collection => ["Beautiful","Need Work"], :as => :radio_buttons, :checked =>"#{@statistic.content}",:item_wrapper_class => 'inline' ,:label => 'Shots' %> 
	
    <%= f.input :concept, :collection => ["Great Idea!","Interesting","I Dont get it","Cliche"], :as => :radio_buttons, :checked =>"#{@statistic.content}",:item_wrapper_class => 'inline' ,:label => 'Concept' %>
    <%= f.input :video_id, :as => :hidden, :input_html => { :value => @video.id }%>
    <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => 'Submit' %>
  </div>
<% end %>
