<html>
<style>

</style>
<body>

<div class='row'>
	<div class='span12'>
			<%= render :partial => "search_form.html.erb", locals: {q: @q} %>
					<!-- Displaying Most Hivecoin Videos -->
			<div>
				<% if !@videos.blank?%>
					<h4> Most Hivecoins Videos </h4>
					<table>
						<tr>
					<%@videos.each do |video|%>
						<td>
					  	<% if !video.video_pic.blank? %>
			<%= link_to image_tag(video.video_pic_url, class: "video_pic"), video_path(video), title: "#{video.video_title}" %> 
						<% else %>
			<%= link_to image_tag('video.png', class: "video_pic"), video_path(video), title: "#{video.video_title}" %>
						<% end %>
						</td>
					<%end%>
						</tr>
					</table>
				<%else%>
				<table> <tr> <th> No Videos to Display </th> </tr> </table>
				<%end%>
			</div>

			<!-- Displaying Geographical Videos -->
			<div>
				<% if current_user %>
					<h4> Geographical Videos </h4>
					<table>
						<tr>
							<%@videos.each do |video|%>
						<% if !video.user_id.blank?%>
							<% if current_user.city === User.find(video.user_id).city %>
								<td>
								<% if !video.video_pic.blank? %>
									<%= link_to image_tag(video.video_pic_url, :class=>"video_pic"), video_path(video), title: "#{video.video_title}" %> 
								<% else %>
									<%= link_to image_tag('video.png', class: 'video_pic'), video_path(video), title: "#{video.video_title}" %>
								<% end %>
								</td>
							<% end %>
						<% end %>
						
				<% end %> </tr>
						</table>
				<% end %>
			</div>

			<!-- Displaying No of Viewers of this site -->
			<div style="position:absolute;bottom:10px;right:10px;">
				Visited Members: <%= @views %>
			</div>
	</div>
</div>
</body>
</html>
